*{
    padding: 0;
    margin:0;
}

body{
    font-family: "Montserrat", sans-serif;
}

.form-control{
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top:1em;
    text-align: center;
}

.btn-success{
    width:5em;
    margin-left: auto;
    margin-right: auto;
    margin-top:5em;
}
.badge-warning{
    background-color: #ffa800;
}
