html{
    overflow-x:hidden;
  }
  

.parallax {
    /* The image used */
    background-image: url(https://www.snopes.com/tachyon/2020/10/Getty-hitchhiker.jpg?resize=865,452&quality=65);
  
    /* Set a specific height */
    min-height: 600px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }

  .navbar {
      margin:0 !important;
  }
  .content {
    
    background-color:white;
    font-size:36px;
  }
  h1{
      text-align: center;
  }

  .options {
      text-align: center;
      margin-top: 5em;
      margin-bottom: 6em;
  }
  button {
      size: 30em;
      outline: black 0.5px solid;
  }

  .text-wrap{
      background-color:rgba(256, 256, 256, 0.3);
      position: relative;
      top:10em;
      padding:20px;
      border-radius: 20px;
     transform: translateX(-17%);
  }

  .text-wrap h1,p{
      color:black;
  }

.mouse {
	width: 25px;
	height: 50px;
	border: 3px solid #fff;
	border-radius: 60px;
	position: relative;
    top:20em;
    left: 49%;
}

.mouse::before{
    content: '';
	width: 12px;
	height: 12px;
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border-radius: 50%;
	opacity: 1;
	animation: wheel 2s infinite;
	-webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}


.left-row p{
    font-size: 19px;
}

.left-row li{
    font-size: 17px;
    text-align: left;
}

.right-row p{
    font-size:19px;
}

.right-row li{
    font-size: 17px;
    text-align: right;
    margin-right: 10px;
}